<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmLib.Core" version="0.1.5" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net45" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net45" />
</packages>